    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Spartan', sans-serif;
    }
    
    #header {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
    }
    
    #logo {
        height: 100px;
    }
    
    #nav-bar {
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-between;
        width: 100;
        height: auto;
        padding: 0 40px 0 20px;
    }
    
    #header-img {
        width: 100px;
        height: 100px;
    }
    
    #menu {
        align-self: center;
    }
    
    #menu a {
        text-decoration: none;
        color: black;
    }
    
    #product-list {
        display: inline-block;
        position: relative;
    }
    
    #product-list:hover #dropdown {
        display: block;
    }
    
    #dropdown {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 120px;
        height: auto;
        padding: 20px;
        border: 0;
        background-color: white;
        box-shadow: 0 2px 5px #ccc;
        display: none;
        border-radius: 10px;
    }
    
    #dropdown a {
        font-weight: 300;
        text-align: left;
        text-decoration: none;
        padding: 0px;
        margin: 5px;
        font-size: 20px;
        line-height: 2;
    }
    
    #dropdown a:hover {
        font-weight: 500;
    }
    
    #menu .nav-link {
        font-weight: 300;
        display: inline-flex;
        justify-content: space-between;
        text-align: left;
        text-decoration: none;
        padding: 0;
        margin: 5px;
        font-size: 20px;
    }
    
    .background {
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: flex;
    }
    
    #landing {
        background: url("https://images.unsplash.com/photo-1566814534947-46a09bcbb88c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=919&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .landing-text {
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .heading-text {
        font-weight: 300;
        font-size: 70px;
    }
    
    .sub-text {
        font-family: 'Meddon', cursive;
        ;
    }
    
    #products {
        background: url("https://images.unsplash.com/photo-1575257963758-c4822d2a1f98?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    
    .product-box {
        width: 30%;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        display: inline-block;
    }
    
    .product-box:hover {
        box-shadow: 0 12px 16px 0 rgba(39, 39, 47, 0.7)
    }
    
    .product-head {
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .price {
        font-weight: 500;
        font-size: 20px;
        padding: 30px 20px 20px 20px;
        text-align: center;
        transition: all 1s ease-in;
    }
    
    .price:hover {
        transform: scale(1.5);
    }
    
    .right {
        float: right;
        margin: 100px 80px 0 0;
    }
    
    .left {
        margin: 100px 0 0 80px;
    }
    
    #sponge {
        background: url("https://images.unsplash.com/photo-1575257932559-dc14392d7656?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    
    #cleanser {
        background: url("https://images.unsplash.com/photo-1566446865386-fb78363da298?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=990&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    
    #cream {
        background: url("https://images.unsplash.com/photo-1566958318472-f89bc07d8673?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1080&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    
    #watch {
        background: url("https://images.unsplash.com/photo-1566812335496-af416725bc1d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=783&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 60vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #contact {
        background: url("https://images.unsplash.com/photo-1566812375284-1e354cba557e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100vw;
        height: auto;
        display: block;
        text-align: center;
    }
    
    .contact-header {
        width: 55%;
        margin: auto;
        padding: 50px;
    }
    
    #form {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    input,
    textarea {
        width: 50%;
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    
    input:last-of-type {
        width: auto;
    }
    
    #footer {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    i {
        font-size: 40px;
        color: black;
        padding: 0 20px;
    }
    
    .fa-pinterest {
        padding-right: 100px;
    }
    
    #footer-text {
        font-size: 16px;
    }
    
    @media only screen and (max-width: 768px) {
        .product-head {
            font-size: 20px;
            text-align: center;
            margin-bottom: 15px;
        }
        .price {
            font-weight: 500;
            font-size: 14px;
            padding: 15px 10px 10px 10px;
            text-align: center;
            transition: all 1s ease-in;
        }
        .right {
            margin: 50px 40px 0 0;
        }
        .left {
            margin: 50px 0 0 40px;
        }
        .heading-text {
            font-size: 35px;
        }
        .sub-text {
            font-size: 20px;
        }
    }
    
    @media only screen and (max-width: 568px) {
        .product-box {
            float: none;
            display: block;
            width: 80%;
            padding: 20px;
            margin: auto;
        }
        i {
            font-size: 20px;
            color: black;
            padding: 0 5px;
            display: inline;
        }
        .fa-pinterest {
            padding-right: 10px;
        }
        #footer-text {
            font-size: 12px;
        }
        .heading-text {
            font-weight: 300;
            font-size: 50px;
        }
        .sub-text {
            font-size: 16px;
            font-weight: 400;
            background-color: rgba(255, 255, 255, 0.5);
            max-width: 80%;
            margin: auto;
        }
        #menu {
            visibility: hidden;
            ;
        }
    }